.bg-dark{
	background-color: #555;
}
#footer .my-container:nth-child(1){
	padding: 0;
}
#footer .my-container h1{
	margin: 0;
}
 a.text-white{
	text-decoration: none;
	font-size: 1.7rem;
}
#footer .my-container h1:last-child{
	margin-left: auto;
	padding-right: 2rem;
}
#footer .my-container:nth-child(2){
	padding-left: 5rem;
	flex-wrap: wrap;
	justify-content: center;
}
#footer .my-container:last-child{
	padding-bottom: 2rem;
	padding-top: 1rem;
	flex-wrap: wrap;
	padding-left: 5rem;
}
#footer .my-container:last-child a{
	text-decoration: none;
	color: #fa8a11;
}
#footer .my-container:last-child a:first-child{
	flex-basis: 100%;
	padding-bottom: .5rem;
}
#footer .my-container .social-icons{
	margin-left: auto;
	padding-right: 2rem;
}
#footer .my-container .social-icons a{
	padding-left: 1rem;
	color: #fa8a11;
	text-decoration: none;
}
.copyright{
	width: 100%;
	background-color: #000;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 50px;
}
@media(max-width: 954px){
	#footer .my-container .social-icons{
		margin-left: 0;
		padding: 0;
	}
}