<footer id="footer">
	<div class="bg-dark">
		<div class="my-container">
			<a routerLink="/index">
				<img src="./assets/images/logo.png" width="80" height="50">
			</a>
			<h1><a routerLink="/about" class="text-white">About Us</a></h1>
			<h1><a routerLink="/reach" class="text-white">Reach Us</a></h1>
		</div>
		<div class="my-container 
		">
			<p class="text-white">We believe that knowledge should not be limited to certain boundaries.</p>
			<div class="social-icons">
				<a href="#"><span class="fa fa-facebook fa-2x"></span></a>
				<a href="#"><span class="fa fa-twitter fa-2x"></span></a>
				<a href="#"><span class="fa fa-linkedin fa-2x"></span></a>
				<a href="#"><span class="fa fa-instagram fa-2x"></span></a>
				<a href="#"><span class="fa fa-google-plus fa-2x"></span></a>
				<a href="#"><span class="fa fa-pinterest fa-2x"></span></a>
				<a href="#"><span class="fa fa-tumbler fa-2x"></span></a>
			</div>
		</div>
		<div class="my-container">
			<a href="#">CONATCT US</a>
			<a href="#">TERMS &amp; CONDITION</a>
		</div>
	</div>
	<div class="copyright">
		<span class="text-white">copyright 2018 &copy; All right reserved</span>	
	</div>
</footer>