<section id="carousel" appMycarousal>
	<div class="carousal-container">
		<div class="carousal-main-image">
			<img src="./assets/images/contactus.jpg" width="100%" height="100%">
			<p>hello</p>
		</div>
		<div class="carousal-sm-image-container">
			<div class="carousal-sm">
				<img src="./assets/images/contactus.jpg" width="100%" height="100%" >
			</div>
			<div class="carousal-sm">
				<img src="./assets/images/logo.png" width="100%" height="100%">
			</div>
			<div class="carousal-sm">
				<img src="./assets/images/Tulips.jpg" width="100%" height="100%">
			</div>
		</div>
		<div class="carousel-matrial-image">
			<div class="material-sm-image">
				<img src="./assets/images/Tulips.jpg" width="100%" height="100%">
			</div>
			<div class="material-sm-image">
				<img src="./assets/images/Tulips.jpg" width="100%" height="100%">
			</div>
		</div>
	</div>
</section>