.main{
	display: flex;
	margin: 2rem 0rem;
}
.projects-container{
	flex-basis: 70%;
}
.projects-side{
	flex-basis: 30%;
	padding-left: 1rem;
}
.text-dark{
	color: #555;
}
a.text-dark{
	text-decoration: none;
}
.projects-container>h3{
	margin:0;
	margin-bottom: .3rem;
}
.date-time{
	color: #bdbdbd;
}
.pjt-btm-img-container{
	display: flex;
	margin: .5rem 0rem;
}
.small-image{
	flex-basis: 20%;
}
.small-image:not(:first-child){
	margin-left: 1rem;
}
.small-image:last-child{
	position: relative;
}
.count-image{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,.5);
}
.count-image:after{
	position: relative;
}
.count-image p{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	margin: 0;
	font-size: 20px;
	color: #fff;
}
.table-info{
	display: flex;
}
.info-heading{
	flex-basis: 50%;
}
.info-value{
	/*flex-basis: 50%;*/
}
.share-option{
	display: flex;
	min-height: 40px;
	padding:0rem 1rem; 
	align-items: center;
	background-color: #bdbdbd;
	border-radius:5px;
}
.social-icons a:not(:last-child){
	margin-right: 1rem;
}
.share-option>a{
	margin-left: auto;

}
.share-option a{
	text-decoration: none;
	color: #fff;
}

@media(max-width: 768px){
	.main{
		flex-wrap: wrap;
	}
	.projects-container{
	flex-basis: 100%;
	}
	.projects-side{
		flex-basis: 100%;
		padding-left: 1rem;
	}
}